## Runtime Context

- Current model: `{{ model_name }}`
- Current time (UTC): `{{ now_utc }}`
- Current local time: `{{ now_local }}`
- Local timezone: `{{ local_timezone }}` (UTC{{ local_utc_offset }})
